<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >

 
  <test name="Regression1">
    <classes>
      <class name="Pkg1st.Selenium2"/>
      <class name="Pkg1st.GoogleTest"/>
      <class name="Pkg1st.TestNGExa1"/>
      <class name="Pkg1st.CountTestNG"/>
      <class name="Pkg1st.timeTestNG"/>
    </classes>
  </test>
</suite>
